.project-container {

  div {
    display: flex;
    justify-content: space-around;
    padding: 20px;
      
    a {
      text-decoration: none;
      color: black;
      font-size: 50px;

      &:hover {
        color: darkgrey;
      }
    }

    img {
      height: auto; 
      width: auto; 
      max-width: 800px; 
      max-height: 800px;
    } 
  }

  .right {
    flex-direction: row;

    &:hover {
      border-left: solid 15px red;
    }
  }

  .left {
    flex-direction: row-reverse;

    &:hover {
      border-left: solid 15px red;
    }
  }

}

.project-information-container {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.project-item {
  border: solid 1px;
  margin-bottom: 50px;
}