.about {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  
  span {
    color: #DAA520;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
  }

  li {
    padding: 0.5rem;
    list-style: none;
    font-size: 1.2rem;
  }
}

.about-content { 
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 970px) {
    flex-direction: row;
  }
}

.about-header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 33.33%;
  padding: 0;

  li {
    text-transform: capitalize;
    font-size: 1.5em;

    &:hover {
      border-bottom: solid 3px #DAA520;
    }
  }
}

.about-summary {
  display: flex;
}

.about-philosophies {
  
  .possible {
    color: red;
  }
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  
  p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 1rem 2rem;

    @media (min-width: 970px) {
      font-size: 2rem;
    }
  }
}

#profile-pic {
  border-radius: 50%;
  object-fit: cover;
  width: 40vw;
  height: 40vw;
  
  @media (min-width: 970px) {
    width: 25rem;
    height: 25rem;
  }
}