* {
  box-sizing: border-box;
}

body, p, h2 {
  margin: 0;
  font-family: 'Paytone One', sans-serif;
}

h2 {
  font-size: 5rem;

  @media (max-width: 1170px) {
    font-size: 1.2rem;
  }
}

h3 {

  a {
    font-size: 2rem;
  }
}

.container {
  padding-top: 56px;
  width: 100vw;

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1rem;
  }
  
  margin: 0 auto;

  @media (min-width: 970px) {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 1170px) {
    width: 1170px;
  }
}