* {
  box-sizing: border-box;
}

body, p, h2 {
  margin: 0;
  font-family: 'Paytone One', sans-serif;
}

h2 {
  font-size: 5rem;

  @media (max-width: 1170px) {
    font-size: 1.2rem;
  }
}

h3 {

  a {
    font-size: 2rem;
  }
}

.container {
  width: 1170px;
  height: 100vh;
  padding-top: 56px;
  margin: 0 auto;

  @media (max-width: 970px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) {
  }

  @media (min-width: 1171px) {
    width: 1700px;
  }
}