* {
  box-sizing: border-box;
}

body, p, h2 {
  margin: 0;
  font-family: 'Paytone One', sans-serif;
}

h2 {
  font-size: 5rem;
}

h3 {

  a {
    font-size: 2rem;
  }
}

.container {
  width: 1170px;
  padding-top: 56px;
  margin: 0 auto;
}