.navbar-list-item {
  font-size: 20px;
  width: 1em;
  margin: 15px;
  text-decoration: none;
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  color: white;

  &:hover {
    color: #A9A9A9;
    border-bottom: solid 3px #1E90FF;
  }
}