nav {
  padding: 1em;
  min-height: 56px;
  background-color: rgb(20, 10, 78);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}