nav {
  width: 100vw;
  padding: 1rem;
  min-height: 56px;
  background-color: #02044A;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}