.copyright { // fix
  position: relative;
  padding: 0.5rem;
}

footer {
  background-color: #183059;
  margin-top: 7rem;
  
  p {
    color: #FFFFFF;
  }

  li {
    font-size: 1.4rem;
    line-height: 2rem;
    list-style: none;
  }
}