.footer-content {

  @media (min-width: 970px) {
    display: flex;
    align-items: flex-end;
  }
}

.copyright {
  position: relative;
  color: #FFFFFF;
  padding: 0.5rem;
}

footer {
  background-color: #183059;

  li {
    color: red;
    font-size: 1.4rem;
    line-height: 2rem;
    list-style: none;
  }
}